<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="./lib/vue-2.4.0.js"></script>
</head>

<body>
    <div id="app">
        <p>{{id}} ----- {{name}}</p>
        <p style=  "color:red" >生当为人杰</p>
        <input type="button" value="按钮" v-bind:title=" use + '123'">
        <!-- v-model可以实现表单元素与model数据中的双向绑定,只能运用于表单元素中-->
        <input type="text" v-model='id'>
        <input type="text" v-model='name'>
    </div>
    <script>
            var vm = new Vue({
                el:"#app",
                data:{
                    id:"12",
                    name:"zj",
                    color:'red',
                    use : 'tishi'
                }
                
            }) 

            

    </script>
</body>
</html>