<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="./lib/vue-2.4.0.js"></script>
</head>
<body>
    <div id="app">
        <input type="text"  v-model='on' > 
        <select  v-model='sf'>
            <option >+</option>
            <option>-</option>
            <option >*</option>
            <option >/</option>
        </select>
        <input type="text" v-model = 'tw' >
        <input type="button" value="=" @click='show'>
        <input type="text"  v-model= "and" >
    </div>
    <script>
        var vm = new Vue({
            el:"#app",
            data:{
                on :0,
                tw:0,
                and:0,
                sf:'+'
            },
            methods:{
                show (){
                //     console.log(this.and)
                //    console.log(this.on)
                    switch(this.sf){
                        case '+' :
                        this.and = parseInt(this.on) + parseInt(this.tw)
                        break;
                        case '-':
                        this.and = parseInt(this.on)- parseInt(this.tw)
                        break;
                        case '*' :
                        this.and = parseInt(this.on)*parseInt(this.tw)
                        break;
                        case '/' :
                        this.and = parseInt(this.on)/parseInt(this.tw)
                        break;

                    }
                }
            }
        })
    
    </script>
</body>
</html>